body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 6px;
  padding-right: 6px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  margin-top: 20px;
  margin-bottom: 40px;
}

.header img{
  width: 60vw;
}

.heading{
  color: #f27b2c;
  font-size: 22px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.subheading{
  color: #3c3c3c;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.item{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left{
  width: 7em;
  height: 7em;
  background-size: cover;
  margin: 16px;
}

.image-square{
  width: 7em;
  height: 7em;
}
.right{
  flex: 1;
  width: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-container{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  
}

.order-buttons > button{
  font-size: 20px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-color: darkslategray;
}

.count{
  font-size: 20px;
  padding-left: 8px;
  padding-right: 8px;
}


.order-buttons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
}

.bottom > button{
  margin-left: 4px;
  padding: 4px;
  border-radius: 40px;
}

@media only screen and (min-width: 600px) {
  .item{
    width: 50%;
  }
  .bottom{
    width: 50%;
  }
  .header img{
    width: 20vw;
  }
}

.blue{
  background-color: azure;
}